.vscode/
.github/
# Playwright
node_modules/
tests/seed.spec.ts
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.playwright-mcp/
# Environment files
.env.*
# Authentication User file
userSession.json
